<a routerLink="/subject/subject-list" style="font-size: x-large;" >Back</a>

<div class="d-flex flex-column mt-3">
    <div class="col-lg-6 col-md-8 border border-primary p-2 rounded">
      <h3>Subject details</h3>
      <div class="row">
        <span class="col-lg-4 col-md-6">
          Subject name
        </span>
        <span class="col-lg-8 col-md-6">
          {{ subject.name }}
        </span>
      </div>
      <div class="row">
        <span class="col-lg-4 col-md-6">
          Description
        </span>
        <span class="col-lg-8 col-md-6">
          {{ subject.description }}
        </span>
      </div>
      <div class="row">
        <span class="col-lg-4 col-md-6">
          No of ESP
        </span>
        <span class="col-lg-8 col-md-6">
          {{ subject.noOfESP }}
        </span>
      </div>
      <div class="row">
        <span class="col-lg-4 col-md-6">
          Year of study
        </span>
        <span class="col-lg-8 col-md-6">
          {{ subject.yearOfStudy }}
        </span>
      </div>
      <div class="row">
        <span class="col-lg-4 col-md-6">
          Semester
        </span>
        <span class="col-lg-8 col-md-6">
          {{ subject.semester }}
        </span>
      </div>
    </div>



</div>
