<a routerLink="/exam-registration/exam-registration-list" style="font-size: x-large;" >Back</a>

<div class="d-flex flex-column mt-3">
    <div class="col-lg-6 col-md-8 border border-primary p-2 rounded">
      <h3>Exam registration details</h3>
      <div class="row">
        <span class="col-lg-4 col-md-6">
          Student
        </span>
        <span class="col-lg-8 col-md-6">
          {{ examRegistration.student.firstName + ' ' + examRegistration.student.lastName }}
        </span>
      </div>
      <div class="row">
        <span class="col-lg-4 col-md-6">
          Exam
        </span>
        <span class="col-lg-8 col-md-6">
          {{ examRegistration.exam.subject.name }}
        </span>
      </div>
      <div class="row">
        <span class="col-lg-4 col-md-6">
          Exam period
        </span>
        <span class="col-lg-8 col-md-6">
          {{ examRegistration.exam.examPeriod.name }}
        </span>
      </div>
      <div class="row">
        <span class="col-lg-4 col-md-6">
          Date
        </span>
        <span class="col-lg-8 col-md-6">
          {{ examRegistration.date }}
        </span>
      </div>

    </div>
</div>
